/src/main/sprites
/src/main/icons
node_modules
target
.vscode
.settings
.project
.classpath
webpack.generated.js
package-lock.json
package.json
webpack.config.js
/error-screenshots
drivers
tsconfig.json
.idea
types.d.ts
/frontend/generated/index.ts
/frontend/generated/vaadin.ts
/frontend/index.html
vite.generated.ts
